{{ '{{' }}cpp/title|{{ data.short_name }}{{ '}}' }}


{% if data.public_methods() | length > 0 %}
=== Member functions ===

{{ '{{' }}dsc begin{{ '}}' }}
{% for member in data.public_methods() %}
{{ '{{' }}dsc mem fun | {{ member.short_name }} | {{ member.brief_doc }} {{ '}}' }}
{% endfor %}
{{ '{{' }}dsc end{{ '}}' }}

{% endif %}
